In [12]:
#Тип данных: строки
# Не изменяемый
k='mkmkmklmlma'
print(k[0],k[-1])
print(len(k))
print(k[1:6])
print(k.upper())
print(k.count('m'))
print(k.replace('ma','am'))
print(k.split('m'))

<class 'SyntaxError'>: invalid syntax (<ipython-input-12-591d1720f725>, line 1)

In [105]:
#Тип данных: списки
# Изменяемый
example_list_1= [i for i in range(0,15)]
print(example_list_1)
print(len(example_list_1))

example_list_2 = [19, 123, 3, 'Sell', 'fast', 'second']
print(example_list_2)
print(len(example_list_2))

example_list_3 = [i for i in range(0,50)]
print(example_list_3)

print(len(example_list_3))

print(example_list_1+example_list_2)
FuncJoin = " ".join(map(str,(example_list_1, example_list_2)))
print(example_list_1[-1], example_list_2[-1], example_list_3[-1])
print(FuncJoin)


example_list_1.append(8)
print(example_list_1)
example_list_2.append(8)
print(example_list_2)
example_list_3.pop(0)
example_list_3.pop(-1)
print(example_list_3)

from random import randint
Sort_Example_list_3=[randint(0,50) for i in range(50)]
print(Sort_Example_list_3)
Sort_Example_list_3.sort()
print(Sort_Example_list_3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
15
[19, 123, 3, 'Sell', 'fast', 'second']
6
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
50
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 19, 123, 3, 'Sell', 'fast', 'second']
14 second 49
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14] [19, 123, 3, 'Sell', 'fast', 'second']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 8]
[19, 123, 3, 'Sell', 'fast', 'second', 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48]
[48, 1, 3, 12, 49, 10, 6, 39, 19, 19, 6, 13, 4, 21, 39, 10, 33, 46, 38, 18, 31, 40, 44, 42, 24, 24, 3, 12, 35, 48, 19, 15, 39, 21, 37, 7, 47, 32, 0, 9, 30, 7, 38, 2, 43, 15, 8, 19, 49, 34]
[0, 1, 2, 3, 3, 4, 6, 6, 7, 7, 8, 9, 10, 10, 12, 12, 13, 15, 15, 18, 19, 19, 19, 19, 21, 21, 24, 24, 30, 31, 32, 33, 34, 35, 37, 38, 38, 39, 39, 39, 40, 42, 43, 44, 46, 47, 48, 48, 49, 49]

In [139]:
#Тип данных: словари
# Изменяемый
london = {'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco'}
london_co = {
    'r1': {
        'hostname': 'london_r1',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '4451',
        'ios': '15.4',
        'ip': '10.255.0.1'
    },
    'r2': {
        'hostname': 'london_r2',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '4451',
        'ios': '15.4',
        'ip': '10.255.0.2'
    },
    'sw1': {
        'hostname': 'london_sw1',
        'location': '21 New Globe Walk',
        'vendor': 'Cisco',
        'model': '3850',
        'ios': '3.6.XE',
        'ip': '10.255.0.101'
    }
}
print(len(london))
print(len(london_co))
print(london.keys())
print(london_co.keys())
print(london.setdefault('vendor'))
print(london.get('vendor'))
london['meta'] = 'object'
print(london)
print(london.values())
print(london.items())
del london_co['sw1']
print(london_co)
london_co.update({'r2':'1234'})
print(london_co)

3
3
dict_keys(['name', 'location', 'vendor'])
dict_keys(['r1', 'r2', 'sw1'])
Cisco
Cisco
{'name': 'London1', 'location': 'London Str', 'vendor': 'Cisco', 'meta': 'object'}
dict_values(['London1', 'London Str', 'Cisco', 'object'])
dict_items([('name', 'London1'), ('location', 'London Str'), ('vendor', 'Cisco'), ('meta', 'object')])
{'r1': {'hostname': 'london_r1', 'location': '21 New Globe Walk', 'vendor': 'Cisco', 'model': '4451', 'ios': '15.4', 'ip': '10.255.0.1'}, 'r2': {'hostname': 'london_r2', 'location': '21 New Globe Walk', 'vendor': 'Cisco', 'model': '4451', 'ios': '15.4', 'ip': '10.255.0.2'}}
{'r1': {'hostname': 'london_r1', 'location': '21 New Globe Walk', 'vendor': 'Cisco', 'model': '4451', 'ios': '15.4', 'ip': '10.255.0.1'}, 'r2': '1234'}

In [145]:
#Тип данных: Кортежи
# Не изменяемые 
list_k=[ 'First', 'Second', 'Third', 'Four']
tuple_list=tuple(list_k)
print(tuple_list)
print(tuple_list[0])
sec_tuple = [i for i in range(0,12)]
th_tuple = tuple(sec_tuple)
print(th_tuple)

('First', 'Second', 'Third', 'Four')
First
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [154]:
#Тип данных: множества
# Не изменяемые
set_first=[i for i in range(10,21)]
set_second=set(set_first)
print(set_second)
set_second.add(30)
print(set_second)
set_second.add(40)
print(set_second)
set_second.discard(40)
print(set_second)
set_th=[i for i in range(18,25)]
set_f=set(set_th)
set_second.update(set_f)
set_second.discard(30)
print(set_second)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 30}
{40, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 30}
{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 30}
{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}

In [186]:
#Тип данных: Булевые 
# Не изменяемые 
bool_first = ['1','2','3',' ']
bool_second = [None]
print(bool(bool_first))
print(bool(bool_second))
print(bool(bool_first==bool_second))
print(bool(bool_first[3]==bool_second))
print(bool(bool_first=='khjhj'))
print(bool(bool_second=='khjhj'))
empty_value=None
print(bool(bool_first==empty_value))
print(bool(bool_second==empty_value))

True
True
False
False
False
False
False
False

In [10]:
#Задание со звездочкой
Spis=[i for i in range(0,10)]
print(Spis)
Mnoj=[i for i in range(0,10)]
set_mnoj=set(Mnoj)
print(set_mnoj)
kortj=[ 'First', 'Second', 'Third', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten']
tuple_kortj=tuple(kortj)
print(tuple_kortj)

import sys
print(sys.getsizeof(Spis))
print(sys.getsizeof(set_mnoj))
print(sys.getsizeof(tuple_kortj))

print(type(Spis))
print(type(set_mnoj))
print(type(tuple_kortj))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
('First', 'Second', 'Third', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten')
92
364
60
<class 'list'>
<class 'set'>
<class 'tuple'>